<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coin.data.exporter.ExporterMapper">
    <!--    用于返回某文件的所有Entity-->
    <select id="getFileEntities" resultMap="Entity">
        select * from Entity where fileId=#{fileId}
    </select>

    <!--    用于返回某文件的所有Relation-->
    <select id="getFileRelations" resultMap="Relation">
        select * from Relation where fileId=#{fileId}
    </select>

    <!--根据fileId获取文件-->
    <select id="getFileById" resultMap="SourceFile">
        select * from File where id=#{fileId}
    </select>


    <resultMap id="Entity" type="com.example.coin.po.Entity"></resultMap>
    <resultMap id="Relation" type="com.example.coin.po.Relation"></resultMap>
    <resultMap id="SourceFile" type="com.example.coin.po.SourceFile">
        <id column="id" property="id"></id>
        <result column="fileName" property="fileName"></result>
        <result column="fileType" property="fileType"></result>
        <result column="zoom"     property="zoom"></result>
        <result column="pointX"   property="pointX"></result>
        <result column="pointY"   property="pointY"></result>
        <result column="zoom2"    property="zoom2"></result>
        <result column="pointX2"  property="pointX2"></result>
        <result column="pointY2"  property="pointY2"></result>
    </resultMap>
</mapper>